@use "../mixins/" as u;


.chatcontainer{

    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(67, 62, 87);
    border : 1.5px solid rgb(121, 121, 121);
    color: rgb(0, 0, 0);

    .messagebox{
        // display:flex;
        // flex-direction:column;
        margin: 1rem 1rem 1rem 1rem;
        .message{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
            margin : 1rem 1rem 1rem 1rem;
        }
    }
    .textbox{
        width: 90%;
        height: 3rem;
        margin:2rem 2rem 2rem 2rem;
        font-size: 1.5rem;
    }
    .submitbutton{
        height: 2.5rem;
        font-size: 1.5rem;
        width:20%;
        margin:0rem 2rem 2rem 2rem;
    }

}


@include u.device(600px)
{   
    .chatcontainer{

        .textbox{
            height: 3rem;
        }
    }
}

