@use "../mixins" as u;

*,*::before,*::after,html{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

body{
    margin-top:40px;
    padding:0;
    background-color: rgb(172, 170, 194);
    font-family: monospace;
}

.descrip{
    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-weight:300px;
    text-align: center;
    margin-top: 2rem;

}

h1{
    font-size:4rem;
    font-weight: 700;
    text-align: center;
}


img{
    width:40px;
    height:40px;
    border :1px solid black;
    border-radius: 10%;
    margin-right: 0.5rem;
    }
span{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(184, 178, 178);
    color: black;
    font-size: 1.5rem;
}


@include u.device(600px)
{   
    .contentwrapper{
        margin-left:10rem;
        margin-right:10rem;
    }
        span{
        font-size: 2.3rem;
    }
 
}

@include u.device(960px)
{   
    .contentwrapper{
        margin-left:40rem;
        margin-right:40rem;
    }
   
}
